<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark">
        <i class="fas fa-bars"></i>
    </a>
    <app-sidebar></app-sidebar>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <app-header headerMainTitle="Lead"></app-header>
        <div class="apexpage-titletop">
            <div class="apxpage-title_wrap">
                <h2>add / edit Lead</h2>
                <button class="btn_to_btitle"><a routerLink="/superadmin/brokers-list">back</a></button>
            </div>
        </div>
        <div class="pagecontent_wrapper">
            <div class="apex-white_wrap newheight-apx">
                <div class="apex-title-lilblue">
                    <h3>Lead details</h3>

                </div>
                <div class="apexforms-group lead-group">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>Owner First Name*</label>
                                <input type="text" placeholder="First Name" value="" name="First Name" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>Owner Last Name *</label>
                                <input type="text" placeholder="Last Name" value="" name="Last Name" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>Owner</label>
                                <input type="text" placeholder="Last Name" value="" name="Last Name" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="apexforms-group lead-group">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>Owner Address</label>
                                <textarea placeholder="P.O. Box 283 8562 Fusce Rd. Frederick Nebraska 20620"></textarea>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>Owner City</label>
                                <input type="text" placeholder=" Pico Rivera" value="" name=" Pico Rivera" />
                            </div>
                            <div class="apexinput-froms">
                                <label>Owner City</label>
                                <input type="text" placeholder=" Pico Rivera" value="" name=" Pico Rivera" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>Owner State </label>
                                <select>
                                <option>California</option>
                               </select>
                            </div>
                            <div class="apexinput-froms">
                                <label>Owner Phone</label>
                                <input type="text" placeholder="+1 9876 54 3210" value="" name="Phone Number" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="apexforms-group lead-group">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="row lg-l">
                                <div class="apexinput-froms col-sm-6">
                                    <label>Primary Residence</label>
                                    <select>
                                <option>2</option>
                               </select>
                                </div>
                                <div class="apexinput-froms col-sm-6">
                                    <label>Property Type</label>
                                    <select>
                                <option>CND</option>
                               </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="row lg-l">
                                <div class="apexinput-froms col-sm-6">
                                    <label>Units</label>
                                    <select>
                                <option>2</option>
                               </select>
                                </div>
                                <div class="apexinput-froms col-sm-6">
                                    <label>SqFt</label>
                                    <input type="text" placeholder="2400" value="" name="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="row lg-l">
                                <div class="apexinput-froms col-sm-6">
                                    <label>Year Built</label>
                                    <input type="text" placeholder="2020" value="" name="" />
                                </div>
                                <div class="apexinput-froms col-sm-6">
                                    <label>Beds</label>
                                    <select>
                                <option>8</option>
                               </select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="apexforms-group lead-group">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

                            <div class="row lg-l">
                                <div class="apexinput-froms col-sm-6">
                                    <label>Baths</label>
                                    <select>
                                <option>3</option>
                               </select>
                                </div>
                                <div class="apexinput-froms col-sm-6">
                                    <label>Lot Size</label>
                                    <input type="text" placeholder="59886" value="" name="" />
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>Estimated Value *</label>
                                <input type="text" placeholder="$391900" value="" name="" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>Assessed Value</label>
                                <input type="text" placeholder="$275627" value="" name="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="apexforms-group lead-group">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">


                            <div class="apexinput-froms">
                                <label>Fore closure Stage</label>
                                <select>
                                <option> Pre fore closure</option>
                               </select>
                            </div>



                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>Recording Date</label>
                                <!-- <input type="text" placeholder="29-Apr-2020" value="" name="" /> -->
                                <dp-date-picker placeholder="29-Apr-2020" theme="dp-material" [config]="datePickerConfig" required="true">
                                </dp-date-picker>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>Sale Date</label>
                                <!-- <input type="text" placeholder="27-Aug-2020" value="" name="" /> -->
                                <dp-date-picker placeholder="27-Aug-2020" theme="dp-material" [config]="datePickerConfig" required="true">
                                </dp-date-picker>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="apexforms-group lead-group">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>Default As Of</label>
                                <!-- <input type="text" placeholder="29-Apr-2020" value="" name="" /> -->
                                <dp-date-picker placeholder="29-Apr-2020" theme="dp-material" [config]="datePickerConfig" required="true">
                                </dp-date-picker>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>FC Estimated Loan Position</label>
                                <input type="text" placeholder="2" value="" name="" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>FC Loan Date</label>
                                <!-- <input type="text" placeholder="30-May-2019" value="" name="" /> -->
                                <dp-date-picker placeholder="30-May-2019" theme="dp-material" [config]="datePickerConfig" required="true">
                                </dp-date-picker>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="apexforms-group lead-group">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>FC Loan Amount</label>
                                <input type="text" placeholder="$391900" value="" name="" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>First Loan Date</label>
                                <!-- <input type="text" placeholder="29-Apr-2020" value="" name="" /> -->
                                <dp-date-picker placeholder="29-Apr-2020" theme="dp-material" [config]="datePickerConfig" required="true">
                                </dp-date-picker>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>First Loan Amount</label>
                                <input type="text" placeholder="$391900" value="" name="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="apexforms-group lead-group">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>Second Loan Amount</label>
                                <input type="text" placeholder="$91900" value="" name="" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>Phone Number 1</label>
                                <input type="text" placeholder="+1 9876 54 3210" value="" name="" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>Phone Number 2</label>
                                <input type="text" placeholder="+1 9876 54 3210" value="" name="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="apexforms-group lead-group">
                    <div class="row">

                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>Phone Number 3</label>
                                <input type="text" placeholder="+1 9876 54 3210" value="" name="" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>Phone Number 4</label>
                                <input type="text" placeholder="+1 9876 54 3210" value="" name="" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>Email 1</label>
                                <input type="text" placeholder="alejandrogomez@aol.com" value="" name="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="apexforms-group lead-group">
                    <div class="row">

                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>Email 2</label>
                                <input type="text" placeholder="alejandrogomez88@aol.com" value="" name="" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>APN</label>
                                <input type="text" placeholder="5271-012-888" value="" name="" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>County</label>
                                <select><option>Los Angeles</option></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="apexforms-group lead-group">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>Address *</label>
                                <textarea placeholder="P.O. Box 283 8562 Fusce Rd. Frederick Nebraska 20620"></textarea>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>City *</label>
                                <input type="text" placeholder=" Pico Rivera" value="" name=" Pico Rivera" />
                            </div>
                            <div class="apexinput-froms">
                                <label>Zip Code</label>
                                <input type="text" placeholder=" Pico Rivera" value="" name=" Pico Rivera" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="apexinput-froms">
                                <label>State *</label>
                                <select>
                                <option>California</option>
                               </select>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="apex-title-lilblue">
                    <h3>Assign Lead</h3>
                </div>
                <div class="prev_assigned_detail">
                    <h4>Previous Assigned Detail</h4>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="apexinput-froms">
                                <label>Assigned To</label>
                                <span>Manager</span>

                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="apexinput-froms">
                                <label>Manager Name</label>
                                <span>Scarlet Johnson</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="apexforms-group lead-group prev-lead-group">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="apexinput-froms">
                                <label>Re-Assign To</label>
                                <select>
                                 <option>Manager</option>
                               </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="apexinput-froms">
                                <label>Manager Name</label>
                                <select>
                                 <option>Scarlet Johnson</option>
                               </select>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="apxbtn_finalcenter apx-mt-15">
                    <button class="btn_grey">Cancel</button>
                    <button class="btn_dblue">save</button>
                </div>
            </div>
        </div>
    </main>
</div>